.logo{
	text-align: center;
	
}
 h2.logo1{
	margin-top:10px;
	text-align: center;
}
hr{
	margin-top: 10px;
}
.main{
	margin: auto;
	padding:13px;
	font-size: 1.5vh;
}
.main p{
	text-align: ;
	padding: 8px 10px;
}

.weui-icon_msg{
	width:20px;
	height:20px;
	
}
.weui-btn_primary{
	padding: 10px;
	width: 100%;
}
.radio{
	
	
}
img{
	
}
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
    float: left;
    border: 1px hidden #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: auto;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: green;
    padding: 15px 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

.tabcontent p{
	
	float: left; margin-left: 20px;
}