.logo{
	text-align: center;
	
}
 h2.logo1{
	margin-top:10px;
	text-align: center;
}
hr{
	margin-top: 10px;
}
.main{
	margin: auto;
	padding:13px;
	font-size: 1.5vh;
}
.main p{
	text-align: ;
	padding: 8px 10px;
}

.weui-icon_msg{
	width:20px;
	height:20px;
	
}
.weui-btn_primary{
	padding: 10px;
	width: 100%;
}
.radio{
	
	
}
img{
	
}